$glow-color: ghostwhite;
$desaturate-glow-color: desaturate($glow-color, 30%);
$saturate-glow-color: saturate($glow-color, 60%);
$glow-shadow: -6px -2px 8px rgba($glow-color, 0.7), 0 0 6px rgba($glow-color, 0.8), 0 0 4px rgba($saturate-glow-color, 1), 0 0 2px rgba($glow-color, 0.4);

ActiveEquipmentDetails {
  flex-direction: row-reverse;
  align-items: flex-end;
  flex-grow: 1;
  min-height: 96px;

  overflow: hidden;
  border-bottom: rgba(whitesmoke, 0.7) 1px solid;
  margin-bottom: 4px;

  .info-bar {
    flex-direction: row;
    flex-grow: 1;
    color: white;
    font-family: RaMono;
    padding: 0 6px 2px;

    text-shadow: 0 0 6px rgba(black, 0.70);
    align-items: flex-end;
  }

  // Info Background

  .info-background:intro {
    opacity: 0;
  }

  .info-background {
    // Light Flash Effect
    transition: opacity 1.5s bounce-in-out;

    position: absolute;
    flex-direction: row-reverse;
    width: 100%;
    height: 48px;
    opacity: 0.2;
  }

  .info-foreground {
    position: absolute;
    width: 100%;
    height: 48px;
    //background-color: red;
    opacity: 0.6;

    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to top, white, black 80%);
  }

  .info-display {
    font-family: "Linear Beam";
    z-index: -100;
    font-weight: 600;
    font-size: 75px;
    position: absolute;
    text-transform: uppercase;

    bottom: -18px;
    margin-right: 12px;

    opacity: 0.7;
  }

  .info-display.front {
    text-shadow: $glow-shadow;
    color: $glow-color;
  }

  .info-display.back {
    text-shadow: 0 0 8px rgba(black, 0.4);
    color: rgba($glow-color, 1);
  }
}