@using Sandbox.UI;

@namespace Woosh.Espionage.UI
@attribute [StyleSheet]
@inherits Panel;

<root class="icon-border">
    <div class="line left up"></div>
    <div class="line left side"></div>
    <div class="line left down"></div>

    <div class="line right up"></div>
    <div class="line right side"></div>
    <div class="line right down"></div>
</root>