InventoryNotificationOverlay {
  opacity: 1;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  flex-direction: row-reverse;

  margin: 1px 0;
  font-size: 16px;
  font-family: RaMono;

  // Symbol

  .symbol-back {
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    font-size: 18px;

    .symbol {
      color: white;
      font-family: "Material Icons";
    }
  }

  &.added .symbol-back {
    background-color: rgba(green, 0.8);
  }

  &.removed .symbol-back {
    background-color: rgba(darkred, 0.8);
  }

  // Text

  .text-back {
    transition: width 0.3s ease-in-out;

    margin-right: 2px;
    background-color: rgba(black, 0.35);
    backdrop-filter: blur(4px);
    //box-shadow: 0 0 64px 16px rgba(black, 0.3);

    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 6px 18px;

    .text {
      text-transform: uppercase;

      opacity: 0.8;
      transition: all 0.3s ease-in-out;
      flex-grow: 1;
      text-align: right;
      color: white;
    }
  }

  .icon-border {
    opacity: 0.8;
  }

  &:intro, &:outro {
    opacity: 0;
    height: 0;
  }

  &:outro {
    .text-back {
      .text {
        left: -120%;
      }
    }
  }

  &:intro {
    .text-back {
      .text {
        right: -120%;
      }
    }
  }
}