InventoryDeployableHotbar {
  flex-direction: row;
  flex-grow: 1;

  height: 60px;

  .empty {
    height: 0;
  }

  // Container
  .slot {
    background-color: rgba(black, 0.5);
    backdrop-filter: blur(4px);

    box-shadow: 0 0 64px 16px rgba(black, 0.3);

    flex-direction: row;
    flex-grow: 1;

    padding: 8px;
    justify-content: center;
    align-items: center;
    color: white;

    border-color: rgba(whitesmoke, 0.5);
    border-width: 0;

    transition: all 0.4s ease-in-out;
    opacity: 0.5;

    margin: 0 1px;
  }

  .slot:first-child {
    margin-left: 0;
  }

  .slot:last-child {
    margin-right: 0;
  }

  // Hidden

  .slot.hidden {
    padding: 0;
    margin: 0;
    //display: none; // Shouldn't use this!
    opacity: 0;
    flex-grow: 0;
  }

  .slot.active {
    flex-grow: 1.6;
    opacity: 1;
  }

  .slot.small {
    max-width: 70px;
  }

  .slot.holster.small {
    max-width: 90px;
  }

  .slot.small.active {
    max-width: 120px;
  }

  // Item

  .slot-item {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;

    align-self: flex-end;
    font-weight: bold;
    font-size: 9px;
    position: absolute;
    bottom: 4px;
  }

  /*
  .active .slot-item {
    opacity: 0;
  }
  */

  // Icon

  .slot-icon {
    transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
    opacity: 0.7;

    height: 80px;
    aspect-ratio: 1;

    position: absolute;

    background-clip: content-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image-tint: ghostwhite;
  }

  .active .slot-icon {
    opacity: 0.7;
    height: 110px;
  }

  .hidden .slot-icon {
    opacity: 0.7;
    height: 0;
  }

  // Key Bind

  .slot-name {
    font-family: RaMono;
    color: rgba(whitesmoke, 0.9);
    position: absolute;
    align-self: flex-end;
    font-size: 11px;
    bottom: -22px;
  }

  // Active Border

  .icon-border {
    opacity: 0;
  }

  .active .icon-border {
    opacity: 1;
  }
}