.operator-hud {
  position: absolute;
  width: 100%;
  height: 100%;

  justify-content: flex-end;
  align-items: flex-end;

  padding: 48px 32px;
}

.equipment-panel {
  flex-direction: column;
  width: 550px;
  //transform: skew(-3deg, 1deg);
}

.notification-container {
  position: absolute;
  flex-direction: column;
  padding: 32px;
}

.notification-mask {
  position: absolute;
  top: 50%;
  right: 0;

  width: 500px;
  height: 300px;
  justify-content: flex-end;
}