@using Sandbox;
@using Sandbox.UI;

@namespace Woosh.Espionage

@inherits Panel;

<root>
    <label text="Melon"></label>
</root>

<style type="text/scss">
    Encapsulate {
        position: absolute;
        border: 1px solid white;
        overflow: hidden;
        border-radius: 16px;
        transition: opacity 0.2s ease-out;
        
        label {
            position: absolute;
            top: 0;
            left: 0;
            background-color: white ;
            align-self: flex-start;
            color: black;
            padding: 16px;
            border-bottom-right-radius: 16px;;
        }
    }
</style>

@code
{
    private ModelEntity Last { get; set; }

    public override void Tick()
    {
        base.Tick();

        Style.Opacity = 0;

        if (Game.LocalPawn == null)
            return;

        if (Game.LocalPawn.Components.TryGet<InteractionHandler>(out var handler) && handler.Hovering != null)
        {
            var model = ((ModelEntity)handler.Hovering);
            Last = model;
            Style.Opacity = 1;
        }

        this.ToEntity(Last);
    }

    protected override int BuildHash()
    {
        return Last?.GetHashCode() ?? 0;
    }
}