@using System
@using System.Collections.Generic
@using Sandbox;
@using Sandbox.UI;
@using Woosh.Common

@namespace Woosh.Espionage

@inherits Panel;
@attribute [StyleSheet("Code/UI/interaction.scss")]

<root>
    @if (!string.IsNullOrEmpty(Icon) && !string.IsNullOrEmpty(Display))
    {
        <div class="icon">
            <label text="@Icon"></label>
        </div>
    }
    <div style="flex-direction: column; align-items: flex-start;">
        @if (!string.IsNullOrEmpty(Display))
        {
            <label class="hovering" text="@Display"></label>
        }

        <div style="flex-direction: column; align-items: flex-start">
            <!-- Create another thing for each Interaction Opportunity -->
            @foreach (var item in m_Interactions ?? Array.Empty<IEntityInteraction>())
            {
                <div class="container">
                    <label class="bind" text="@($"[{item.Indicator.Bind}]")"></label>
                    <label class="action" text="@item.Indicator.Action"></label>
                </div>
            }
        </div>
    </div>
</root>

@code
{
    private string Icon { get; set; }
    private string Display { get; set; }

    private Vector3 m_Last;

    private Entity m_Target;

    public override void Tick()
    {
        base.Tick();
        Style.Opacity = 0;

        if (Game.LocalPawn == null)
            return;

        if (Game.LocalPawn != m_Handler)
            Rebind(Game.LocalPawn as IObservableEntity);

        if (m_Interactions.Count > 0 && m_Target != null)
        {
            m_Last = m_Target.WorldSpaceBounds.Center;
            Style.Opacity = 1;
        }

        this.ToWorld(m_Last);
    }

    private void OnInteractionChanged(in Event<InteractionTargetChanged> evt)
    {
        // We want the UI to nicely fade out...
        if (evt.Data.Hovering == null)
            return;

        // Rebuild UI based on Interactions...
        m_Target = evt.Data.Hovering;
        m_Interactions = evt.Data.Interactions;
        
        // Get Info
        var info = m_Target.Info();
        Display = info.Name;
        Icon = info.Icon;
    }

    // Binding

    private IReadOnlyList<IEntityInteraction> m_Interactions = Array.Empty<IEntityInteraction>();
    private IObservableEntity m_Handler;

    public void Rebind(IObservableEntity handler)
    {
        m_Handler?.Events.Unregister<InteractionTargetChanged>(OnInteractionChanged);
        m_Handler = handler;
        m_Handler?.Events.Register<InteractionTargetChanged>(OnInteractionChanged);
    }

    // Hash

    protected override int BuildHash()
    {
        return m_Interactions?.GetHashCode() ?? 0 ^ m_Target?.GetHashCode()?? 0;
    }
}