@using Sandbox;
@using Sandbox.UI;
@using System;
@using Woosh.Common

@inherits Panel
@namespace Woosh.Espionage

<style>
	WIP {
		font-family: RaMono;
		
		opacity: 0.35;
		color: white;
		mix-blend-mode: lighten;
		
		display: flex;
		align-items: center;
		justify-content: center;
		
		.container
		{
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			
			.text
			{
				font-size: 18px;
			}
		}
	}
</style>

<root>
    <div class="container" style="position:absolute; top: 32px; left: 32px;">
        <label class="text" text="Espionage / sbox"></label>
    </div>
    <div class="container" style="position:absolute; bottom: 32px; left: 32px;">
        <label class="text" text="@Game.LocalClient.Name"></label>
        <label class="text" text="@DateTime.Now"></label>
        <div style="border-bottom: 1px solid white; height: 2px; margin: 12px 0; flex-grow: 1; align-self: stretch;"></div>
        <label class="text" text="@Weapon"></label>
    </div>
</root>

@code
{
    public string Weapon
    {
        get
        {
            var active = Game.LocalPawn.Components.Get<CarriableHandler>()?.Active;
	        return active?.Info().Name;
        }
    }

    protected override int BuildHash()
    {
        return HashCode.Combine(DateTime.Now);
    }
}