*materials/*/*/*.vmat_c
*models/*/*/*.vmdl_c
materials/default
*.bat
*.los
*.py
*.rar
*.vanmgrph_c
*.vmat_c
*.vmdl_c
*.vp
*.vsnd_c
*.vtex_c
*.zip
*.vpk
.codegen/
.intermediate
accesslist.txt
code/*.csproj
code/Properties/
materials/default/*
obj/
tools_asset_info.bin
*.vpcf_c
*.vscode
SkyFortress.code-workspace
omnisharp.json
*.fgd
*.fgd
config/espionage.fgd
*.sbs
*.blend1
