@using Sandbox.UI;
@attribute [StyleSheet]
@inherits Panel
@namespace Espionage.UI.Menu

<root class="terminal-hover-button">
    <div class="ridge"></div>
    <div class="text">
        @Text
        @if (Ghost != null)
        {
            <div class="terminal-hover-button__tooltip">
                <label text="@(Ghost)"></label>
            </div>
        }
    </div>
</root>

@code {
    public string Text { get; set; }
    public string Ghost { get; set; }
}