@using Sandbox.UI;

@namespace Woosh.Espionage.UI
@attribute [StyleSheet]
@inherits Panel;

<root>
    @if (!string.IsNullOrWhiteSpace(Info.Nickname))
    {
        <div class="info-background">
            <label class="info-display back" text="@(Info.Nickname)"></label>
            <div class="info-gradient"></div>
            <label class="info-display front" text="@(Info.Nickname)"></label>
        </div>
    }

    <label style="color: white; font-size: 20px; font-family: RaMono" text="Automatic  12/40"></label>
</root>

@code{
    EntityInfo Info { get; set; }

    public void Remove()
    {
        Info = default;
        StateHasChanged();
    }

    public void Assign(EntityInfo info)
    {
        // info = info with { Nickname = "Defend"};
        Info = info;
        StateHasChanged();
    }

}