@using Sandbox
@using Sandbox.UI;
@using Sandbox.Utility
@using Woosh.Common

@namespace Woosh.Espionage.UI
@attribute [StyleSheet]

@inherits Panel;

<root class="carriable-deploy-overlay">
    <label class="carriable-deploy-overlay__name" text="@Info.Nickname"></label>
    <label class="carriable-deploy-overlay__desc" text="@Info.Brief"></label>
</root>

@code
{
    public EntityInfo Info { get; private set; }

    private AnimatedEntity m_Target;
    private TimeSince m_SinceApplied;

    public void FadeOut()
    {
        m_SinceApplied = 0;
    }

    public void Override(EntityInfo info, AnimatedEntity viewmodel)
    {
        m_Target = viewmodel;
        m_SinceApplied = default;

        Info = info;

        StateHasChanged();
    }

        private const float FadeOutTime = 0.75f;

    public override void Tick()
    {
        Style.Opacity = m_SinceApplied == default ? 1 : Easing.ExpoOut(1 - (m_SinceApplied / FadeOutTime));

        if (m_Target.IsValid() && m_Target.GetAttachment("muzzle") is { } trans)
        {
            this.ToWorld(trans.Position + trans.Rotation.Backward * 4);
        }
    }
}