@import "Code/UI/styles.scss";

$gap__panel: 2px;

InteractionBadge {
  position: absolute;

  text-shadow: $shadow__text;
  font-family: $font__mono;
  color: $color__text;

  flex-direction: row;
  align-items: flex-start;

  transition: opacity 0.2s ease-out;

  //transform: translateY(-120%);

  .icon {
    background-color: $color__panel;
    box-shadow: $shadow__box;
    margin-right: $gap__panel;
    font-family: 'Material Icons';
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 38px;
    aspect-ratio: 1;
  }

  .action {
    box-shadow: $shadow__box;
    font-size: 12px;
    padding: 4px 12px;
  }

  .bind {
    padding: 4px 0 4px 12px;
    text-transform: uppercase;
    flex-shrink: 0;

    color: rgba($color__text, 0.75);
    box-shadow: $shadow__box;

    text-align: center;
    align-items: center;

    font-size: 10px;
  }

  .container {
    background-color: $color__faded-panel;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: $gap__panel;
  }

  .hovering {
    font-size: 16px;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    background-color: $color__panel;
    box-shadow: $shadow__box;
  }
}