InventoryDeployableHotbar {
  flex-direction: row;
  gap: 4px;
  height: 60px;
  flex-grow: 1;

  // Container
  .slot {
    background-color: rgba(black, 0.5);
    backdrop-filter: blur(4px);

    flex-direction: row;
    flex-grow: 1;

    padding: 8px;
    justify-content: center;
    align-items: center;
    color: white;

    border-color: rgba(whitesmoke, 0.5);
    border-width: 0;

    transition: all 0.2s ease-in-out;
    opacity: 0.45;
  }

  // Hidden

  .slot.hidden {
    padding: 0;
    display: none; // Shouldn't use this!
    opacity: 0;
    flex-grow: 0;
  }

  .slot.active {
    flex-grow: 1.6;
    opacity: 0.88;
  }

  .slot.small {
    max-width: 70px;
  }

  .slot.holster.small {
    max-width: 90px;
  }

  .slot.small.active {
    max-width: 120px;
  }

  // Item

  .slot-item {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;

    align-self: flex-end;
    font-weight: bold;
    font-size: 9px;
    position: absolute;
    bottom: 4px;
  }

  .active .slot-item {
    opacity: 0.4;
  }

  // Icon

  .slot-icon {
    transition: opacity 0.2s ease-in-out;
    opacity: 0.4;

    // Why!
    height: 50%;
    width: 100%;

    position: absolute;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .active .slot-icon {
    opacity: 0.7;
  }

  // Key Bind

  .slot-name {
    font-family: RaMono;
    color: rgba(whitesmoke, 0.8);
    position: absolute;
    align-self: flex-end;
    font-size: 11px;
    bottom: -22px;
  }

  // Active Border

  .active .icon-border {
    opacity: 1;
  }

  .icon-border {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;

    .line {
      position: absolute;
      height: 1px;
      background-color: rgba(whitesmoke, 0.5);
    }

    .left {
      left: 0;
    }

    .right {
      right: 0;
    }

    .up {
      top: 0;
      height: 1px;
      width: 8px;
    }

    .down {
      bottom: 0;
      height: 1px;
      width: 8px;
    }

    .side {
      height: 100%;
      width: 1px;
    }
  }
}