InventoryHotbarOverlay {
  position: absolute;
  width: 100%;
  height: 100%;

  justify-content: flex-end;
  align-items: flex-end;
  padding: 32px 32px;

  .slot-bar {
    flex-direction: row;
    gap: 4px;
    height: 60px;
    width: 550px;

  }
  
  // Container

  .slot {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);

    flex-direction: row;
    flex-grow: 1;

    padding: 8px;
    justify-content: center;
    align-items: center;
    color: white;

    transition: all 0.2s ease-in-out;
  }

  // Hidden

  .slot.hidden {
    padding: 0;
    display: none; // Shouldn't use this!
    opacity: 0;
    flex-grow: 0;
  }
  
  .slot.active {
    color: black;
    flex-grow: 1.6;
    background-color: white;
  }

  .slot.small {
    max-width: 70px;
  }

  .slot.holster.small {
    max-width: 90px;
  }

  .slot.small.active {
    max-width: 120px;
  }
  
  // Item

  .slot-item {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;

    font-weight: bold;
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    left: 4px;
  }

  .active .slot-item {
    opacity: 0.6;
  }
  
  // Icon

  .slot-icon {
    transition: opacity 0.2s ease-in-out;
    opacity: 0.4;

    // Why!
    height: 50%;
    width: 100%;

    position: absolute;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .active .slot-icon {
    opacity: 1;
  }
  
  // Key Bind

  .slot-name {
    font-family: RaMono;
    color: white;
    position: absolute;
    font-size: 10px;
    bottom: -20px;
  }
}