.operator-hud {
  position: absolute;
  width: 100%;
  height: 100%;

  justify-content: flex-end;
  align-items: flex-end;

  padding: 32px;
}

.equipment-panel {
  flex-direction: column;
  width: 550px;
}
